@import "../../constants//sizes.scss";

$font-list: (
	"main": (
		$main-a,
		$main-b,
		$main-c,
		$main-d,
		$main-e
	),
	"title": (
		$title-a,
		$title-b,
		$title-c,
		$title-d,
		$title-e
	),
	"medium": (
		$medium-a,
		$medium-b,
		$medium-c,
		$medium-d,
		$medium-e
	),
	"regular": (
		$regular-a,
		$regular-b,
		$regular-c,
		$regular-d,
		$regular-e
	),
	"small": (
		$small-a,
		$small-b,
		$small-c,
		$small-d,
		$small-e
	)
);

$keys: map-keys($font-list);
@each $key in $keys {
	.#{$key} {
		$key-values: map-get($font-list, $key);

		font-size: nth($key-values, 1);

		@include resize(
			font-size,
			nth($key-values, 2),
			nth($key-values, 3),
			nth($key-values, 4),
			nth($key-values, 5)
		);
	}
}
