@import "../../constants//sizes.scss";

@mixin resize($font-b, $font-c, $font-d) {
	@include mobile() {
		font-size: $font-b;
	}

	@include tablet() {
		font-size: $font-c;
	}

	@include desktop() {
		font-size: $font-d;
	}
}

$font-list: (
	"main": (
		$main-a,
		$main-b,
		$main-c,
		$main-d
	),
	"title": (
		$title-a,
		$title-b,
		$title-c,
		$title-d
	),
	"medium": (
		$medium-a,
		$medium-b,
		$medium-c,
		$medium-d
	),
	"regular": (
		$regular-a,
		$regular-b,
		$regular-c,
		$regular-d
	),
	"small": (
		$small-a,
		$small-b,
		$small-c,
		$small-d
	)
);

$keys: map-keys($font-list);
@each $key in $keys {
	.#{$key} {
		$key-values: map-get($font-list, $key);

		font-size: nth($key-values, 1);

		@include resize(nth($key-values, 2), nth($key-values, 2), nth($key-values, 3));
	}
}
