@import "../../constants//sizes.scss";

@mixin resize($font-b, $font-c, $font-d) {
	@include mobile() {
		font-size: $font-b;
	}

	@include tablet() {
		font-size: $font-c;
	}

	@include desktop() {
		font-size: $font-d;
	}
}

$font-list: (
	"canon": (
		$canon-a,
		$canon-b,
		$canon-c,
		$canon-d
	),
	"trafalgar": (
		$trafalgar-a,
		$trafalgar-b,
		$trafalgar-c,
		$trafalgar-d
	),
	"paragon": (
		$paragon-a,
		$paragon-b,
		$paragon-c,
		$paragon-d
	),
	"double-pica": (
		$double-pica-a,
		$double-pica-b,
		$double-pica-c,
		$double-pica-d
	),
	"great-primer": (
		$great-primer-a,
		$great-primer-b,
		$great-primer-c,
		$great-primer-d
	),
	"body-copy": (
		$body-copy-a,
		$body-copy-b,
		$body-copy-c,
		$body-copy-d
	),
	"pica-index": (
		$pica-index-a,
		$pica-index-b,
		$pica-index-c,
		$pica-index-d
	),
	"long-primer": (
		$long-primer-a,
		$long-primer-b,
		$long-primer-c,
		$long-primer-d
	),
	"brevier": (
		$brevier-a,
		$brevier-b,
		$brevier-c,
		$brevier-d
	),
	"minion": (
		$minion-a,
		$minion-b,
		$minion-c,
		$minion-d
	)
);

$keys: map-keys($font-list);
@each $key in $keys {
	.#{$key} {
		$key-values: map-get($font-list, $key);

		font-size: nth($key-values, 1);

		@include resize(nth($key-values, 2), nth($key-values, 2), nth($key-values, 3));
	}
}
