@import "constants/colors.scss";

.explorer-body + .folder {
	padding-top: 10px;
}

.file,
.folder-title {
	padding: 4px;
	transition: background-color 0.2s ease-in-out;
	&:hover {
		background-color: $fade-light;
	}
}

.arrow {
	width: 12px;
	height: 12px;
	cursor: pointer;
	padding-right: 6px;
}

.arrow-open {
	@extend .arrow;
	transform: rotate(90deg);
	position: relative;
	top: 4px;
	padding-right: 8px;
}

.file-rename,
.folder-rename {
	position: relative;
	background-color: white;
	padding: 4px;
	border: none;
	font-size: 16px;
}
