@import "constants/colors.scss";

.explorer {
	display: flex;
	flex-direction: column;
	height: 90%;

	.project-title {
		padding: 12px;
		padding-left: 20px;
		border-top: 1px solid $primary;
		border-bottom: 1px solid $primary;

		display: flex;
		justify-content: space-between;
		align-items: center;

		.dot3 {
			width: 26px;
			height: 10px;
			cursor: pointer;
		}
	}

	.explorer-body {
		height: 100%;
	}
}
