// -- SCREEN WIDTH --

$a-min: 0px;
$a-max: 359px;

$b-min: 360px;
$b-max: 599px;

$c-min: 600px;
$c-max: 767px;

$d-min: 768px;
$d-max: 1024px;

$e-min: 1025px;
$e-max: 1366px;

$f-min: 1367px;

// -- FONT SIZES --

$main-a: 72px;
$main-b: 72px;
$main-c: 72px;
$main-d: 72px;
$main-e: 72px;
$main-f: 72px;

$title-a: 36px;
$title-b: 40px;
$title-c: 56px;
$title-d: 62px;
$title-e: 60px;
$title-f: 80px;

$medium-a: 16px;
$medium-b: 20px;
$medium-c: 20px;
$medium-d: 34px;
$medium-e: 30px;
$medium-f: 30px;

$regular-a: 16px;
$regular-b: 16px;
$regular-c: 16px;
$regular-d: 24px;
$regular-e: 20px;
$regular-f: 24px;

$small-a: 12px;
$small-b: 12px;
$small-c: 12px;
$small-d: 16px;
$small-e: 14px;
$small-f: 16px;

$input-a: 16px;
$input-b: 16px;
$input-c: 16px;
$input-d: 22px;
$input-e: 18px;
$input-f: 22px;

$button-a: 16px;
$button-b: 16px;
$button-c: 16px;
$button-d: 24px;
$button-e: 20px;
$button-f: 24px;

$button-small-a: 12px;
$button-small-b: 12px;
$button-small-c: 12px;
$button-small-d: 16px;
$button-small-e: 14px;
$button-small-f: 16px;

$spacer-a: 16px;
$spacer-b: 24px;
$spacer-c: 30px;
$spacer-d: 30px;
$spacer-e: 30px;
$spacer-f: 30px;

@mixin mobile {
	@media (min-width: $b-min) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: $c-min) {
		@content;
	}
}

@mixin tablet-large {
	@media (min-width: $d-min) {
		@content;
	}
}

@mixin desktop-small {
	@media (min-width: $e-min) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: $f-min) {
		@content;
	}
}

@mixin resize($property, $value-b, $value-c, $value-d, $value-e, $value-f) {
	@include mobile() {
		#{$property}: $value-b;
	}

	@include tablet() {
		#{$property}: $value-c;
	}

	@include tablet-large() {
		#{$property}: $value-d;
	}

	@include desktop-small() {
		#{$property}: $value-e;
	}

	@include desktop() {
		#{$property}: $value-f;
	}
}
