@import "../../constants/colors.scss";

.icon {
	width: 100%;
	height: 100%;
}

.checkmark {
	@extend .icon;
}

.x {
	@extend .icon;
}

.plus {
	@extend .icon;
}

.dot3 {
	@extend .icon;

	#Oval {
		fill: $primary;
	}
}

.arrow {
	@extend .icon;
}
