@import "../../constants/colors.scss";

.circle {
	background-color: $primary;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.square {
	background-color: $primary;
	width: 46px;
	height: 46px;
	border-radius: 5px;
}
