@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
@import "./constants//colors.scss";

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	color: $primary;
}

p {
	margin: 0;
	padding: 0;
}

textarea,
select,
input,
button {
	outline: none;
	font-family: inherit;
}

.mt {
	margin-top: 16px;
}

.mb {
	margin-bottom: 16px;
}

.m {
	margin: 16px;
}

@for $i from 1 through 8 {
	.mt-#{$i} {
		margin-top: $i * 4px;
	}
	.mb-#{$i} {
		margin-bottom: $i * 4px;
	}
	.m-#{$i} {
		margin: $i * 4px;
	}
}

.capitalize {
	text-transform: uppercase;
}
